body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#backButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#backButton:hover {
    background-color: #45a049;
}

#try-again {
    display: none; /* Initially hide the button */
    background-color: #4CAF50; /* Background color */
    color: white; /* Text color */
    padding: 10px 20px; /* Padding */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    font-size: 16px; /* Font size */
}